@import 'constants/sass/color.scss';

.sidebar {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.sidebar-wrapper {
  background: $color-primary;
  border-right: 1px solid $color-border;
  color: $color-text-primary;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 65px;
}

.sidebar-menu-wrapper {
  align-items: center;
  border-right: 5px solid transparent;
  color: $color-white;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  padding: 10px;
  
  svg {
    width: 25px;
    height: 25px;
  }

  &.active {
    border-right: 5px solid $color-border;
  }
}

.sidebar-content {
  width: 100%;
}