.information-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;;
}

.information-row-label {
  display: flex;
  width : 250px;
}

.information-icon {
  margin-right: 10px;
  svg {
    height: 20px;
  }
}

.information-label {
  display: flex;
  flex: 1 1 auto;
  font-weight: 600;
}

.separator {
  margin: 0px 20px;
}